@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #16161c;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none !important;
}

p {
    color: #7e7e7e;
}

h2, li, a {
    color: #fff;
    text-decoration: none;
}

span {
    color: #151579
}

.conteiner {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

header {
    border: 0;
    position: sticky;
}

header::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.1rem;
    background-image: linear-gradient(90deg, rgb(73, 73, 255) .2%, #151579 100%);
}

header .conteiner {
    align-items: center;
    justify-content: space-around;
    padding: 1.7rem 0;
}

header .conteiner .menu {
    width: 33.3%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

header .conteiner .menu a li{
    transition: 0.4s;
}

header .conteiner .menu a:hover li {
    transition: 0.3s;
    scale: 1.2;
    color: #151579;
}

header .conteiner button {
    padding: 0.9rem 2.1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #4949ff .2%, #151579 100%);
    color: white;
    transition: 0.3s;
}

header .conteiner button:hover {
    background: linear-gradient(90deg, #3434b1 .2%, #15174a 100%);
    scale: 1.07;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}   

main .conteiner {
    justify-content: space-around;
    margin: 0 auto; 
}

.avatar {
    border-radius: 50%;
    height: 350px;
    transition: 0.3s;
}

.avatar:hover {
    scale: 1.07;
}
.apresentation {
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.apresentation h2 {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.apresentation::before,
.apresentation::after {
    content: '';
    position: absolute;
    background-color: #fff;
}

.apresentation::before,
.apresentation::after {
    width: 1px;
    height: 100px;
}

.apresentation::before {
    left: 0;
    top: 50px;
}

.apresentation::after {
    right: 0;
    bottom: 50px;
}

.apresentation::before,
.apresentation::after,
.apresentation h2::before,
.apresentation h2::after {
    content: '';
    position: absolute;
    background-color: #fff;
}

.apresentation h2::before,
.apresentation h2::after {
    width: 100px;
    height: 1px;
}

.apresentation h2::before {
    left: 0;
    top: 50px;
}

.apresentation h2::after {
    right: 0;
    bottom: 50px;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.sobre h2 {
    font-size: 30px;
}

.sobre p {
    border-radius: 16px;
    padding: 3rem;
    background-color: #0000004f;
    width: 70%;
    letter-spacing: 0.9px;
    font-size: 18px;
}

.sobre button {
    padding: 0.9rem 2.1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #4949ff .2%, #151579 100%);
    color: white;
    transition: 0.3s;
}