@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #16161c;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hidden {
    display: none !important;
}

p {
    color: #7e7e7e;
}

h2, li, a {
    color: #fff;
    text-decoration: none;
    list-style: none;
}

span {
    color: #3434b1
}


h1  {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

input, textarea {
    background-color: transparent;
    padding: 8px;
    outline: 0;
    border: none;
    border-bottom: 1px solid #3434b1;
    color: #fff;
    transition: 0.4s;
}

input:focus, textarea:focus {
    border-bottom: 1px solid #4949ff;;
}

.container {
    display: flex;
    justify-content: center;
    width: 90%;
}

header::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.1rem;
    background-image: linear-gradient(90deg, rgb(73, 73, 255) .2%, #151579 100%);
}

header .container {
    align-items: center;
    justify-content: space-around;
    padding: 1.7rem 0;
}

.btn {
    padding: 0.9rem 2.1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #4949ff .2%, #151579 100%);
    color: white;
    transition: 0.3s;
}

.btn:hover {
    background: linear-gradient(90deg, #3434b1 .2%, #15174a 100%);
    scale: 1.07;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}   

main .container {
    justify-content: space-evenly;
}

.avatar {
    border-radius: 50%;
    height: 350px;
    transition: 0.4s;
}

.avatar:hover {
    scale: 1.07;
}
.apresentation {
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.apresentation h2 {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.apresentation::before,
.apresentation::after {
    content: '';
    position: absolute;
    background-color: #fff;
}

.apresentation::before,
.apresentation::after {
    width: 1px;
    height: 100px;
}

.apresentation::before {
    left: 0;
    top: 50px;
}

.apresentation::after {
    right: 0;
    bottom: 50px;
}

.apresentation::before,
.apresentation::after,
.apresentation h2::before,
.apresentation h2::after {
    content: '';
    position: absolute;
    background-color: #fff;
}

.apresentation h2::before,
.apresentation h2::after {
    width: 100px;
    height: 1px;
}

.apresentation h2::before {
    left: 0;
    top: 50px;
}

.apresentation h2::after {
    right: 0;
    bottom: 50px;
}

.projetos {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.container-projetos {
    display: flex;
    flex-wrap: wrap;
}

.container-projetos li {
    display: flex;
    flex-direction: column;
    width: 32%;
    margin: 5px;
    padding: 30px;
    border: 2px solid #3434b1;
    gap: 15px;
    text-align: start;
}

.container-projetos li p {
    display: flex;
    font-size: 18px;
    transition: 0.4s;
}

.container-projetos li p a {
    transition: 0.4s;
}

.container-projetos li p a:hover {
    color: #3434b1;
}

.contatos {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contatos-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
    gap: 10px;
    width: 40%;
}

.social {
    display: flex;
    color: #fff;
    gap: 20px;
}

.social i{
    font-size: 30px;
    transition: 0.4s;
}

.social i:hover {
    color: #3434b1;
}

footer {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 5rem;
}

footer::before {
    content: ""; 
    position: absolute; 
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-image: linear-gradient(90deg, rgb(73, 73, 255) .2%, #151579 100%);
}

.footer {
    padding: 1.5rem; 
}